Brotli==1.1.0
click==8.1.8
comtypes==1.4.10
cramjam==2.9.1
docx==0.2.4
fastparquet==2024.11.0
Flask==2.2.5
fpdf==1.7.2
fsspec==2025.2.0
inflate64==1.0.1
itsdangerous==2.2.0
Jinja2==3.1.5
lxml==5.3.1
MarkupSafe==3.0.2
multivolumefile==0.2.3
numpy==2.2.3
packaging==24.2
pandas==2.2.3
pillow==11.1.0
psutil==7.0.0
py7zr==0.22.0
pyarrow==19.0.1
pybcj==1.0.3
pycryptodomex==3.21.0
pyppmd==1.1.1
python-dateutil==2.9.0.post0
pytz==2025.1
pyzstd==0.16.2
six==1.17.0
texttable==1.7.0
tzdata==2025.1
Werkzeug==2.3.7
frozen-flask
